.hourly-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(60px, 1fr);
  gap: min(5px, 5%);
  flex: 1;
  padding: 0 10px;
  min-width: 335px;
  max-width: 100%;
  background-color: var(--card-background);
  box-shadow: var(--card-shadow);
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.hourly-card {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  scroll-snap-align: center;
  /* background-color: red; */
}

.hourly-card span {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
}

.hourly-weather-icon {
  width: 25px;
  height: auto;
}

.hourly-temp {
  color: var(--primary-text);
}

.hourly-time {
  font-size: 0.9em;
  color: var(--secondary-text);
  white-space: nowrap;
}

.hourly-time-12 {
  font-size: 0.8em;
  color: var(--secondary-text);
  white-space: nowrap;
}
